#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  display: flex;
  background-color: #242329;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
  width: 75vw;
  height: 50vh;
}

.playlist-icon {
  height: 350px;
  width: 350px;
  background-color:pink;
  object-fit: fill;
  padding: 10px;
  border-radius: 10px;
  background-image: linear-gradient(#d5d3de, #a6a8bf);
}

.playlist-icon:hover {
  transform:scale(1.025);
  transition-duration: 0.5s;
}

img:hover {
  transform: scale(1.5);
  transform: rotate(-2deg);
  transition-duration: 0.5s;
}
